.idea/
.vscode/
.DS_store
__pycache__
burst_*.txt
Controller_Simulations
Steady_State_Simulation
Cortical_recordings
Full_simulations
PTS_test1
Rec_random_2mA
RESULTS_4mA_all_phase
Results_30s
RESULTS_30s_PTS
Simulation_Output_Results
STN_LFP_Recordings.mat
PI_grid_search_12
*.csv
*.xlsx
*.out
*.png
*.eps
*.m
